
*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,table,input,textarea{
    padding: 0;
    margin: 0;
}

li{
    list-style: none
}

a{
    color: initial;
    text-decoration: none;
}


input{
    border: none;
}
